@model List<MVCPiqueSysMarket.Models.Cliente>

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<div>
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <h4>Produtos</h4>
        <hr>

        <div class="form-group">
            @Html.LabelFor(cliente => cliente.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(cliente =>cliente.Email)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="Salvar" value="Salvar" class="btn btn-info" />
            </div>
        </div>
    </div>
}
    Não é cadastrado ainda? Cadastre-se!
    <br />
    <a href="/Usuario/Cadastro" title="Cancelar" class="btn btn-info">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        Cadastrar
    </a>
</div>
