@model List<MVCPiqueSysMarket.Models.Cliente>

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<div>
    <form action="demo_form.asp">
        Login Number    <input type="text" name="fname"><br>
        Password        <input type="password" name="lname"><br>
        
    </form>
    <br />
    Não é cadastrado ainda? Cadastre-se!
    <br />
    <a href="/Usuario/Cadastro" title="Cancelar" class="btn btn-info">
        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        Cadastrar
    </a>
</div>
